body {
  background-image: url(./img/PokemonBG.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.transparent {
  background: rgba(200, 200, 200, 0.5);
}

